
<div class="row">
    <div class="col-md-4">
        <h2>I seem to be in... @ViewBag.Title mode!</h2>
        <p>Set an environment variable called DebugRuntimeEnvironment to the value "debug". 
        Visual Studio doesn't seem to have a flag where this can be done in-process, so 
        you have to do it in Windows (remember to restart Visual Studio).
        
        Now you can keep config-debug.xml out of git using gitignore, while config-prod is included.
        When the project is built/unit-tested, the prod variables will be used.
        </p>
        

</div>
